
body {
  width:100%;
  font-family: Pacifico, Georgia;
  font-weight: 800;
  color: #f7a2aa;
  align-items: center;
  align-content: center;
  display: inline-block;
}
header {
  padding: 22px 0;
  display: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

header .row,
footer .row {
  display: center;
  align-items: center;
  align-content: center;
}

header h1 {
  font-weight: 600;
  margin: 0;
  display: center;
  align-items: center;
  align-content: center;
}

header nav {
  display:center;
  padding: 18px;
  align-items: center;
  align-content: center;
}

header span {
  padding: 0 22px;
  margin: 0;
  display: center;
  align-items: center;
  align-content: center;
}
header hr{
  border-width: 2px;
  border-color: #f7a2aa;
}
#blahblah{
  width: 100%;
}
.carousel-slide{
width: 10%;
}

#carousel-item{
  /*width:100%;*/
  height: 300px;
  margin-left:0px;
  margin-right:0px;
  padding-bottom:100px;
}
.carousel-item img{
  /*width: 100%;*/
  height: 300px;
  display: center;
  margin: 0px;
}
div #carouselExampleCaptions{
width: 100%;
}

section .container img{
  margin: 50px;
  width: 100%;
  display: inline-block;
}
section .row img{
  margin: 50px;
  width: 100%;
  display: inline-block;
}
section .col-sm-3 img{
  margin: 50px;
  width: 100%;
  display: inline-block;
}
figure .col-sm-6{
  text-align: center;
  display:center;
}

/*.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #f7a2aa;
  text-shadow: none;
  background-color: #f8f8f8;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #dedede;
}

.btn-secondary {
  background-color: #fdcad0;
  color: #ffffff;
  margin: 0 0 0px;
}*/

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-1 {
  float: right;
  display:inline-block;
}

footer ul {
  list-style: none;
}

footer li i {
  width: 32px;
  height: 32px;
  font-size:24px;
  font-color: #xf08c;
}